.bg-verde {
  background-image: linear-gradient(45deg, #64dc9e 0%, #FFFB7D 100%);
}

.grilla {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}


.card {
  display: flex;
  flex-direction: column;
  background: white;
  color: #444;
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  min-height: 100%;
  top: 0;
  transition: all .1s ease-in;
}

.card:hover {
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  top: -2px;
}

.card .foto {
  background-size: cover;
  background-position: center center;
  padding-top: 2rem;
  padding-bottom: 5px;
}

.card article {
  padding: 20px;
}
.card p { 
  line-height: 1.4;
  padding-top: 1rem;
  text-align: center;
}

.card h1 {
  color: #333;
  font-size: 20px;
  margin: 0;
}

.card span {
  color: #999;
  font-size: 12px;
  font-weight: bold;
  margin: 2em 0 0 0;
}

@media (min-width: 500px) {
  .grilla {
    grid-template-columns: 1fr 1fr;
  }  
}

@media (min-width: 850px) {
  .grilla {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.footer {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
}

.footer ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer ul a:hover {
  opacity: 0.8;
}

.footer .item.text {
  margin-bottom: 36px;
}

.footer .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer .item.social {
  text-align: center;
}

.footer .item.social a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 5px;
  padding-top: 8px;
  color: #fff;
  opacity: 0.75;
}

.footer .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

.footer .item.social a:hover {
  opacity: 0.9;
}

@media (max-width:767px) {
  .footer .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

@media (max-width:767px) {
  .footer .item.text {
    margin-bottom: 0;
  }
}

@media (max-width:767px) {
  .footer .item.social {
    text-align: center;
    margin-top: 20px;
  }
}